body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    background-image: url('partenze.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.countdown-container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 20%; /* Adjust the vertical position, e.g., 50% centers the container vertically */
    left: 50%; /* Adjust the horizontal position, e.g., 50% centers the container horizontally */
    transform: translate(-50%, -50%); /* Center the container precisely */
    z-index: 1;
}

#countdown {
    font-size: 60px;
    color: #D9BC3C;
}
    /* Responsive styles */
    @media screen and (max-width: 600px) {
        font-size: 24px;
    }
}